* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.app {
  background-color: #bdca0a9c;
}
.title-app {
  height: 10vh;
  font-size: 60px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(60deg, #663bac 0%, #ca6d4e 100%);
}
.chat-app {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-app__wrapper {
}

.chat-app__left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.chat-app__image {
  width: 70%;
}

.chat-app__right {
  padding: 30px 50px;
  border-radius: 20px;
  background-color: #ffffff;
}

.chat-app__title {
  text-align: center;
  color: #bd4545;
}

.chat-app__title--line {
  width: 40%;
  margin: 30px auto;
  background-color: #bd4545;
  height: 3px;
  border-radius: 50%;
}
.chat-app__btn-join {
  padding: 5px 10px;
  background-color: #bd4545;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 30px;
}
